.DS_Store
fp-info-cache
*.kicad_prl
~*
*.bak
*.o
*.d
*.s19
*.map
*.elf
mapfile
bak/*
*-backups/
_autosave*
#auto_saved_files#
hw/simm/programmer/firmware/build/*
!hw/simm/programmer/firmware/build/ravenprog.uf2
sw/rom/mon/mon.map
sw/rom/mon/mon.bin
sw/rom/mon/mon.ram
sw/rom/boot.bin
sw/rom/os.bin
sw/rom/tos.bin
dist/drivers/*
dist/rom/*

