.DS_Store
fp-info-cache
*.kicad_prl
~*
*.bak
*.o
*.d
*.s19
*.map
*.elf
mapfile
bak/*
*-backups/
_autosave*
#auto_saved_files#
hw/simm/programmer/firmware/build/*
sw/rom/mon/*.bin
sw/rom/mon/*.ram
sw/rom/*.bin
sw/rom/mkrom
dist/raven/*
dist/*.zip
get_atari.sh
rvst.zip
sw/rom/srec_test/*
sw/tools/*/*.prg
sw/tools/*/*.app
sw/tools/*/*.tos
sw/rvbios/*.prg
sw/rvnova/loader/*.prg
sw/rvnova/driver/*.prg
sw/isa/*/*.prg
sw/isa/drivers/*/*.prg
sw/isa/drivers/picogus/pgusinit/*.prg
sw/tools/setenv/*
sw/tools/autoexec/*
sw/tools/flash/*.ttp
sw/tools/serial.cpx/*.cpx
sw/tools/serial.cpx/*.bin
local/*
sw/rvga/*
sw/purec/m68k-atari-tos-pc-*
sw/purec/pcmake
sw/purec/src/crosstos/dist/*
sw/purec/src/crosstos/bin-pc-*.c
sw/purec/src/crosstos/incbin
sw/purec/src/pcmake/pcmake
sw/purec/lib/*
sw/m32test/*
