autom4te.cache
aclocal.m4
config.h
config.h.in
config.h.in.orig
config.log
config.status
configure
Makefile
Makefile.in
version_date.h
.DS_Store
*.framework
*.xcworkspace
xcuserdata
*.o
*.d
*.a
*.exe
*.pdb
*.prg
*.app
*.tos
*.ttp
*.ldg
*.slb
*.pcf
*.ref
*.hyp
*.stg
*.lst
*.srec
*.log
*.trs
lt-*.c
stamp-*
.stamp.*
.libs
.deps
.dirstamp
.xlk
src/.gdbinit
mon.out
gmon.out
a.out
core
*.gcda
*.gcno
*.gcov
DEBUGFILE
*.orig
*.bak
bla.*
aaa.cfg
*.uls
udo_fc.*
udo_fo.*
*.cnt
*.rtf
asm56k
build/Parser.c
build/Parser.h
build/Lexer.c
tools/cldinfo
tools/cldlod
tools/cofdmp
tools/lod2p56
tools/srec
tools/dsp56k-strip
tools/tiohist
